#This is in Android 8.0, but not 8.1
domain_trans(init, rootfs, adbd)

allow vendor_init vendor_init:capability { sys_module };
allow init servicemanager:binder { call transfer };

# Allow init to change owner of /sys/module/ged
allow init sysfs_ged:file { w_file_perms setattr };

# Allow init to change owner of /proc/cpufreq
allow init proc_cpufreq:file { w_file_perms setattr };
